<footer>
  <center>
    <div>
      <marquee direction="right">
      <a href="https://www.fsf.org/windows/"><img src="/media/propaganda/linux.gif"></img></a>
      <a href="https://itsfoss.com/why-firefox/"><img src="/media/propaganda/firefox.gif"></img></a>
      <a href="https://www.gnu.org/"><img src="/media/propaganda/gnu.png"></img></a>
      <a href="https://www.vim.org/"><img src="/media/propaganda/vim.gif"></img></a>
      <a href="https://www.eff.org/"><img src="/media/propaganda/getmozilla2.gif"></img></a>
      <a href="https://joinmastodon.org"><img src="/media/propaganda/mastodon.gif"></img></a>
      <a href="https://www.gnu.org/proprietary/malware-google.en.html"><img src="/media/propaganda/chrmevil.gif"></img></a>
      <img src="/media/propaganda/internet-privacy.gif"></img>
      <img src="/media/propaganda/repair.png"></img>
      <a href="https://www.defectivebydesign.org/"><img src="/media/propaganda/drm.gif"></img></a>
    </div>
    </marquee>
<p>al1r4d © 2022</p>
</footer>
	
