<!-- Needed for the "current" class -->
{% assign current = page.url | downcase | split: '/' %}

<header>
     

<div class="wrapper">
	
	<h1 class="left"><a href="/" style="color:#7e9f5b">Auto</a><a href="/">nomy</a><a class="span" href="#"></a></h1>

		<nav class="right">
		
	<ul>
		<b>
		<!-- <li><a href="https://mstdn.io/@al1r4d">Mastodon</a></li>
			<li><a href="mailto:al1r4d@riseup.net">Mail</a></li> --!>
		<li><a href="/tentang">Tentang</a></li>
		<li><a href="/feed.xml">Feeds</a></li> 
		</b>
	</ul>
        
		</nav> 


        <div style="clear:both;"></div>

    </div>

</header>

